<%#= render '/refinery/content_page' %>
<html>
<head>
</head>
<body>
	<style type="text/css">
		*{margin:0; padding:0; font-size: 12px; font-family: helvetica, arial, sans-serif;}
		body{}
		#header100{width: 100%;}
		#header{max-width: 1919px; margin: 0 auto; height: 223px; background: url(header_bg.jpg) no-repeat center; }
		#headertxtline{width:100%; height:40px; background: #eee; filter:alpha(opacity=50); opacity:.50; -khtml-opacity: 0.50;	-moz-opacity: 0.50;	-ms-filter:"alpha(opacity=50)";}
		#leftinfo{width:30%; height:100%; line-height: 40px; text-align: left; float: left;}
		#rightinfo{width:70%; height:100%; line-height: 40px; text-align: right; float: right;}
		#topmenu100{max-width: 1919px; margin: 0 auto; height:48px; border-top: 1px solid #eee; border-bottom: 2px solid #ddd;/*clear: right;*/}
		.wrap{width:974px; margin: 0 auto; padding: 0 15px;}
	</style>
		
	<div id="header100">
		<div id="header">
			<div id="headertxtline">
				<div class="wrap">
					<div id="leftinfo">Оригинальные запчасти из Германии</div>
					<div id="rightinfo">Санкт-Петербург, Старо-Паново, ул.Рабочая, д.18, +7 981 742-27-09, +7 981 838-06-21</div>
				</div>
			</div>
		</div>
	</div>
	<div id="topmenu100">
		
	</div>
	
	<div id="footer100">
	</div>

</body>
</html>