$('.prw_photo').click(function() {
	var src = $(this).prop("src");
	$(big_image).prop("src", src);
	$('.mating').removeClass("mating");
	$(this).addClass("mating");
});

//#add_item
//#delete_item
//#listitems
//#tmplistitems

// <div class="camodelitem" id="<%#= model.id %>">
//  <%#= model.title %>
//  <span id="delete_item">-</span>
// </div>

// var car_ids = Array.new;
// var model_ids


////$(function) is the same $(document).ready(function)
$(function() {
	$(modeltype).keyup(function (){
		// alert($(this).val());
		$.ajax({
				url: '/admin/search',
				type: 'POST',
				beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
				data: 'search='+$(this).val(),
				//dataType: "json",
				success: function(tmp){
					$(listitems).append(tmp);
				}
			});

	});
	
});
