<h1 id='logo'>
	<%= link_to image_tag('logo_small.png', {:title=>"Оригинальные немецкие запчасти в Санкт-Петербурге", :alt=>"разборка автомобилей из Германии"}), refinery.root_path %>
</h1>
<p>
	Оригинальные запчасти из Германии в Санкт-Петербурге.<br /><br />
	Санкт-Петербург, Старо-Паново, ул.Рабочая, д.18,<br />
	+7 981 742-27-09, +7 981 838-06-21, +7 911 973-84-61
</p>
<%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %>