<div id="header">
	<div id="headertxtline">
		<div class="wrap">
			<div id="leftinfo">Оригинальные запчасти из Германии</div>
			<div id="rightinfo">Санкт-Петербург, Старо-Паново, ул.Рабочая, д.18, +7 981 742-27-09, +7 981 838-06-21</div>
		</div>
	</div>
</div>
<div id="topmenu100">
	<div class="wrap">
		<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
	</div>
</div>

<!-- <h1 id='logo'>
  <%= link_to Refinery::Core.site_name, refinery.root_path %>
</h1> -->
