 *{margin:0; padding:0; font-size: 12px; font-family: helvetica, arial, sans-serif; list-style-type:none; text-decoration:none;}
body{/*height: 100%;*/}
h1{ font-size: 22px; line-height: 28px; font-weight: normal; margin-bottom: 20px;}

#page{padding: 30px 0 0 0;}
#body{width: 620px; float:left;}
#side_body{float: right; width: 320px;} 

/*home-page wide width. all others two columns*/
#home-page #body{width: 100%;}
#products-page #body{width: 100%;}
#news-page #body{width: 100%;}
/**/
#now-page #side_body{float: right; width: 320px; padding: 48px 0 0;} 

.topmargin{margin-top:0;}

#header100{width: 100%;}
#header{max-width: 1919px; margin: 0 auto; height: 199px; background: url(header_bg.jpg) no-repeat center; }
/*#headertxtline{width:100%; height:40px; background: #eee; filter:alpha(opacity=50); opacity:.50; -khtml-opacity: 0.50;	-moz-opacity: 0.50;	-ms-filter:"alpha(opacity=50)";}*/
#headertxtline{width:100%; height:40px; div{font-size: 14px;}}
#leftinfo{width:30%; height:100%; line-height: 40px; text-align: left; float: left;}
#rightinfo{width:70%; height:100%; line-height: 40px; text-align: right; float: right;}
#topmenu100{max-width: 1919px; margin: 0 auto; height:48px; border-top: 2px solid #999; border-bottom: 2px solid #999;/*clear: right;*/}
#menu li{float:left; line-height:50px; margin: 0 15px 0 0; a{color:#6d6e70; font-size: 14px;}}
.selected a, a:hover{color:#000 !important;} 

.wrap{width:940px; margin: 0 auto;}

footer{height: 150px; margin-top: 20px; border-top: #aaa dotted 1px; }
#footer{ padding-top: 15px;  /*padding: 15px 0; margin:20px 0 0;*/}

.item_prw{ width:293px; border: #aaa dotted 1px; float: left; margin-bottom:15px;}
.odd{ margin-right: 30px;}
.even{ margin-right: 0;}
.item_info{ height: 70px;}
.item_info img{ float: left; margin-top: 12px; padding: 0 10px}
.items_txt{ line-height: 19px; text-align: left; font-size: 14px; padding:5px 5px 0 0;}

#banners_on_product_search{float: right; text-align: right;}
#banner_search{ width: 290px; height: 290px; background: url(banner_bg.jpg) no-repeat; margin-left: 30px;}
#banner_call{ margin:30px 0 30px 30px;}
.banner_txt{ width:290px; text-align: center; padding:17px 0;}
.banner_txt span{ font-size: 10px; font-weight: bold; color: #fff;}
.item_head{ height:70px; border-top: #aaa dotted 1px; border-bottom: #aaa dotted 1px;}
.item_head img{ float: left; margin: 11px 10px 0 5px;}
.item_txt{padding-left: 75px;}
.item_txt h2{ line-height: 18px; font-size: 16px; margin-top: 20px;}
.item_txt h3{ line-height: 16px; font-size: 14px; font-weight: normal;}

#image_container{margin-top: 30px; width:620px; height: 373px;}
#prw_container{margin-top: 30px;}
#prw_container img{float: left; cursor: pointer;}
.prw_photo{margin-right: 30px;}
.prw_photo.last{margin-right: 0;}
.mating{background: #eee; filter:alpha(opacity=50); opacity:.50; -khtml-opacity: 0.50;	-moz-opacity: 0.50;	-ms-filter:"alpha(opacity=50)";}
#similar{display:inline-block; margin:30px 0 10px 0;}
#similar h2{float:left; margin:0; width: 128px; font-weight: normal;}
.similar_prw{float:right; margin-left: 30px;  width: 216px;}

/*///////////////part of car names search block on first and search pages. + tree view*/
/*////////////display searchcar block (main and products pages)*/
#carsearch{width: 940px;}
#carsearch h1{margin-bottom: 20px;}
#table_cars{ border:1px dotted #aaa;
	thead{background: #d1d2d4; tr{height:140px;}}
	td{width: 234px; text-align: center; border-right:1px dotted #aaa;}
	.last{width: 233px;  border:none;}
	ul{ padding: 0 10px 17px 10px; margin-top: 20px;} 
	ul li{ margin-bottom: 3px;}
	ul a{color: #000; }
	ul a:hover{color:#999!important;} 
}

.car_img{width: inherit; text-align: left; padding-left: 20px;} 

#examples{ /*display:inline-block; border-top: 1px dotted #aaa;*/ padding: 22px 0 0 0; }
.random_prw{ float: left; margin:0 20px 20px 0;}
.random_prw.last{ float: left; margin-right:0!important;}

#tree{ float: left; margin-left: 100px; clear: both;}
#tree a{color: #000;}
.tree_type{clear: both; cursor: pointer;}
.tree_typename_wrap{ margin-bottom: 4px; height: 16px;}
.tree_plus{width:15px; height:15px; border: 1px dotted #aaa; color: #aaa; float: left; line-height: 14px; text-align: center;}
.tree_typename{text-align: left; line-height: 16px; margin: 0 0 0 10px; display: inline;}
.tree_subtype{ clear: both; margin-top: 4px; background: url(lftdotted.png) repeat-y left; padding-left: 34px; display:none;}
.subtype_li{cursor: pointer; margin-bottom: 4px;}

.head_product{ width: 100%; border-bottom: 1px dotted #aaa; padding-bottom: 10px; margin-bottom:10px; }
.head_product div{float:left; width: 81px; text-align: center;}
.head_product h1{line-height: 58px; display: inline; margin-left: 20px;}

/*////////////display products block*/
/*//////breadcrumbs block */
#breadcrumbs{margin-bottom:10px; color:#aaa;  a{color: #aaa; font-size: 15px;} a:hover{color: #000;}}
.bread_current{color: #000; font-size: 15px;}
/**/
#showproducts_wrap{float: right;}
#showproducts h2{ font-size: 20px; margin-bottom: 15px;}
.description_block{width: 540px; border: 1px dotted #aaa; margin-bottom: 20px;}
.descr_div_top{ height: 170px; clear: both;}
.img_div{ text-align: center; height: 170px; width: 210px; float:left;}
.img_div img{ margin-top: 20px;}
.descr_div{ width: 327px; height: inherit; border-left: 1px dotted #aaa; float: right;}
.descr_table{ margin: 15px 0 0 27px;}
.descr_table tr{line-height: 24px;}
.descr_table td{font-size: 14px;}
.descr_table .bold{ font-weight: bold; width: 135px;}
.descr_div_bottom{ height: 60px; clear: both;}
.descr_more{ height: 60px; text-align: center; line-height: 60px; width: 210px; float: left;}
.descr_price{ height: 60px; width: 327px; border-left: 1px dotted #aaa; text-align: center; float: right;}
.descr_price div{ width:269px; height:36px; margin: 0 auto; line-height:36px; background: url(price_bg_.png) no-repeat; font-weight: bold; font-size: 18px;}
.descr_head{ height: 41px; line-height: 41px; background: #eee; text-align: center; font-size: 16px; font-weight: bold; border-bottom: 1px dotted #aaa;}
/*//// more-description block*/
.more_block{width: 540px;
	img{ margin-bottom: 20px;}
	table tr{ 
		span{display: block; line-height: 18px; padding: 7px 0; font-size: 14px;}
		.left{ width:140px; text-align: right; border-right: 1px dotted #aaa; span{padding-right: 10px;}}
		.right{text-align: left; span{padding-left: 10px;}}
	}
	.fon{background: #e6e7e8; td{border-top: 1px dotted #aaa; border-bottom: 1px dotted #aaa;}}
}
/*////*/

/*////////////display news block*/
#news-page h1{width: 100%; margin-bottom: 20px; border-bottom: 1px dotted #aaa; clear: both;}
#news_wrap{ width: 100%;}
#news_wrap a{ color: #000;}
#news_wrap h2{font-size: 14px; margin:10px 0; height: 30px;}
#news_wrap p{font-size: 11px; text-align: justify;}
#news_wrap .read_more{width: 100%; text-align: right; margin-top: 10px;}
.news_div{float: left; width: 280px; margin: 0 50px 15px 0;}
.news_div_last{float: left; width: 280px; margin: 0 0 15px 0;}
.news_img_prw{}
.news_date{margin-top: 5px;}

.news_left_prw{ width: 280px; float: left; margin-right: 20px;}
.news_body{ width: 640px; float: right;}
.news_body h2{font-size: 14px; margin:10px 0;}
.news_body p{ text-align: justify; margin-bottom: 7px;}


/*///////////////////////gmap*/
#gmap{width:940px; height: 468px;}
/**/

.clear{clear: both;}

/*////////////styles front-end pages plus...*/
.separator{clear: both; border-bottom: 1px dotted #aaa; height:20px; width: 100%; display: block; margin-bottom: 20px;}
.car_sign_wrap{ margin: 25px 0 0 55px;}
.car_sign{float:left; margin: 0 40px 40px 0;}
#home-page #body .inner{border-top: 1px dotted #aaa; padding:20px 0;}
#home-page #body p{padding-bottom: 10px; font-size: 14px; }
#home-page #body ul li{ font-size: 14px; line-height: 17px; }
#home-page #body ul{ padding: 0 0 10px 50px;}
#info_block{ width: 100%; margin-top: 20px;}
#info_money { width:313px; height: 100px; background: url(money_icon.png) no-repeat 0 0; float: left;}
#info_money div{ width:215px; margin-left: 80px;}
#info_car { width:313px; height: 100px; background: url(car_icon.png) no-repeat 0 0; float: left;}
#info_car div{ width:215px; margin-left: 80px;}
#info_time { width:313px; height: 100px; background: url(time_icon.png) no-repeat 0 0; float: right;}
#info_time div{ width:215px; margin-left: 80px;}




/*/////////////////////////hide Refinery LOGO*/
#site_bar_refinery_cms_logo{display: none;}

@import "fotorama"

